.story__container {
  width: 85%;
  margin: auto;
}

.story__manager {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.story__message {
  font-family: 'didot' sans-serif;
  margin-top: 2rem;
}

.story__message .content {
  text-align: center;
}

.story__message-heading {
  font-family: 'Noto Serif Display', serif;
  font-weight: 500;
  font-size: 1.4rem;
}

.story__message-img-cont {
  display: none;
}

.story__message-img {
  margin-top: 2.3rem;
}

.story__message-img img {
  border-radius: 2px;
  width: 100%;
}

.story__message-text {
  font-size: 0.8rem;
  margin-top: 1.4rem;
  font-weight: 300;
}

.story__message-name {
  font-size: 0.9rem;
  font-family: 'Noto Serif Display', serif;
  margin-top: 0.9rem;
}

.core {
  margin-top: 4rem;
  padding: 2rem 0;
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), color-stop(#f7f7f7), to(white));
  background-image: linear-gradient(#f7f7f7, #f7f7f7, white);
}

.core__manage {
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(#f7f7f7), to(#f7f7f7));
  background-image: linear-gradient(white, #f7f7f7, #f7f7f7);
}

.core__content {
  width: 87%;
  margin: auto;
  text-align: center;
}

.core__heading {
  font-size: 1.6rem;
  font-family: 'Noto Serif Display', serif;
  font-weight: 500;
}

.core__para {
  margin-top: 1.7rem;
  font-size: 0.8rem;
  font-weight: 300;
}

.core__members {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (0.5fr)[2];
      grid-template-columns: repeat(2, 0.5fr);
  margin-top: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.core__members-item {
  margin-top: 2rem;
}

.core__members-item-img {
  width: 50%;
  border-radius: 50%;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.core__members-item-name {
  font-size: 0.9rem;
  margin-top: 0.8rem;
}

.core__members-item-desg {
  font-size: 0.7rem;
  margin-top: 0.3rem;
}

.tagline {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
  color: white;
  padding: 0.9rem 0;
}

.tagline__content {
  font-size: 1.3rem;
  font-family: "blackChancery", sans-serif;
}

@media screen and (min-width: 768px) {
  .story__message {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .story__message-img-cont {
    display: block;
  }
  .story__message-img-cont img {
    width: 90%;
    border-radius: 2px;
  }
  .story__message-text {
    width: 75%;
  }
  .story__message .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
  }
  .story__message-img {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .core__content {
    width: 75%;
    margin: auto;
    text-align: center;
  }
  .core__heading {
    font-size: 1.9rem;
    font-family: 'Noto Serif Display', serif;
    font-weight: 500;
  }
  .core__para {
    margin: auto;
    margin-top: 2.5rem;
    font-size: 0.8rem;
    font-weight: 300;
    width: 70%;
  }
  .core__members {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (0.5fr)[3];
        grid-template-columns: repeat(3, 0.5fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 4rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .core__members-item {
    margin-top: 2rem;
  }
  .core__members-item-img {
    width: 45%;
    border-radius: 50%;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }
  .core__members-item-name {
    font-size: 0.9rem;
    margin-top: 0.8rem;
  }
  .core__members-item-desg {
    font-size: 0.7rem;
    margin-top: 0.3rem;
  }
  .tagline {
    margin-top: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: black;
    color: white;
    padding: 0.9rem 0;
  }
  .tagline__content {
    font-size: 1.3rem;
    font-family: "blackChancery", sans-serif;
  }
}
/*# sourceMappingURL=team.css.map */