.hidden {
    opacity: 0;
  }
  
  .fade-in {
    animation: fade-in 1.4s;
  }
  
  @keyframes fade-in {
      from {opacity: 0; transform: scale(.7,.7)}
      to {opacity: 1;}
  }
  
  .bounce {
    animation: bounce 1s infinite;
    position: relative;
  }
  
  @keyframes bounce {
    0% {top: -2px}
    50% {top: 2px}
    100% { top: -2px}
  }
  
  
  
  
  // Variables
  //
  $primary-color: #013750;
  $secondary-color: #F23E02;
  
  $font-color: #fff;
  $font-color-inverse: #01010B;
  
  $container-width: 1200px;
  $grid-breakpoint: 800px;
  $grid-margin: 1%;
  $grid-number: 12;
  

  
  // Full screen
  //
  
