.about {
  background-color: rgb(233, 233, 233);
  &__main {
      padding-top: 2rem;
      width: 80%;
      margin: auto;
  }
  &__heading {
      text-align: center;
      font-size: 1.7rem;
  }
  &__container {
      margin-top: 2rem;
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-template-rows: repeat(3,1fr);
      grid-gap: 5rem;
  }
  &__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      padding: 1rem;
      background: linear-gradient(rgb(228, 228, 228),white);
      &-img {
          width: 230px;
          height: 200px;
          margin: 0.5rem auto;


        img{
            width: 100%;
            height: 100%;
            
        }
      }
      &-text {
          &-heading {
              font-size: 1rem;
          }
          &-para {
              font-size: 0.7rem;
          }
      }
  }
}