

  /* ----------find css-------- */


  .contactinfo{
    width: 95%;
   margin: auto;
    text-align: center;
   margin-top: 2rem;
    }
   .contact{
    background: linear-gradient(rgb(230, 230, 230));
    width: 65%;
    border-radius: 5%;
    margin:  auto;
   }


.form__form-message{
  margin-top: 2rem;
}

#name{
  margin-top: 2rem;
  width: 60%;
  font-size: 0.7rem;
  height: 2.2rem;
  border-radius: 4px;
  border : none;
  padding: 0.5rem;
}

#message{
  width: 60%;
  border-radius: 4px;
  border : none;
  font-size: 0.7rem;  
  padding: 0.5rem;
}
.contact__form-button{
  margin-top: 2rem;
  
}
.contact__form-button-btn{
  width: 50%;
  height: 50%;
  padding: 0.5rem;
  margin-bottom: 2rem;
  color: white;
  border: none;
  background-color:black;
  transition: all 0.3s ease-in-out;
  font-size: 1.2rem;
}
.contact__form-button-btn:hover{
  background-color: white;
  color: black;
  border: 1px solid black;
  
}


.map{
 height: 40rem;
  width: 94%;
  margin: auto;
  margin-top: 3rem ;
}

.contact p{
  font-size: 1.5rem;
  padding-top: 1rem ;
 font-weight: 50;
}
.locate{
  text-align: center;
  margin-top: 3rem;
  font-size: 2rem;
}

.contactinfo h3{
     font-weight: 400;
     margin: 1rem 0rem;
     font-size: 1.5rem;
     
}
.map{
  height: 30rem;
  width: 60%;
}

@media screen and (min-width:768px){
  #name{
    width: 50%;
  }
  #message{
    width: 50%;
    padding: 0.5rem;
  }
  .contact__form-button-btn{
    width: 30%;
  }
  .contact{
    
   width: 50%;
   margin:  auto;
  }
}

.contact-section {
  margin-top: 4rem;
  &__heading {
    text-align: center;
    font-size: 1.5rem;
  }
  &__sub {
    width: 60%;
    margin: auto;
    font-weight: 400;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 1rem;
  }
  &__grid {
    display: grid;
    width: 80%;
    margin: auto;
    margin-top: 2rem;

    grid-template-columns: repeat(3,0.33fr);
    grid-gap: 1rem;
    &-item {
      height: 30rem;
      background: url('../assets/bg-home.png') center center/cover;
      &-text {
        height: 30rem;
        width: 100%;
        width: 100%;
        display: flex;
        color: transparent;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        &:hover {
        background: linear-gradient(360deg,black,transparent);
        color: white;
        }
        align-items: flex-end;
        padding: 1rem;
        &-heading {
          font-size: 1.1rem;
          font-weight: 500;
        }
        &-sub {
          margin-top: 0.2rem;
          font-size: 0.8rem;
        }
      }
 

    }
  }
}

@media screen and (max-width : 768px) {
  .contact-section {
    margin-top: 4rem;
    &__heading {
      text-align: center;
      font-size: 1.5rem;
    }
    &__sub {
      width: 75%;
      margin: auto;
      font-weight: 300;
      text-align: center;
      font-size: 0.8rem;
      margin-top: 1rem;
    }
    &__grid {
      display: grid;
      width: 100%;
      margin: auto;
      margin-top: 2rem;
  
      grid-template-columns: repeat(3,0.33fr);
      grid-gap: 0.3rem;
      &-item {
        height: 20rem;
        background: url('../assets/bg-home.png') center center/cover;
        &-text {
          height: 20rem;
          width: 100%;
          width: 100%;
          display: flex;
          color: transparent;
          transition: all 0.3s ease-in-out;
          cursor: pointer;
          &:hover {
          background: linear-gradient(360deg,black,transparent);
          color: white;
          }
          align-items: flex-end;
          padding: 1rem;
          &-heading {
            font-size: 1.1rem;
            font-weight: 500;
          }
          &-sub {
            margin-top: 0.2rem;
            font-size: 0.8rem;
          }
        }
   
  
      }
    }
  }
}