.hotel {
    margin-top: 2rem;
    &__content {
        width: 85%;
        margin: auto;
        text-align: center;
    }
    &__heading {
        margin-top: 2rem;
        font-size: 1rem;
    }
    &__img {
        margin-top: 2rem;
        width: 95%;
    }
    &__para {
        font-size: 0.75rem;
        width: 90%;
        margin: auto;
        font-weight: 300;
        margin-top: 2rem;
    }
    &__left {
        display: none;
    }
    &__button {
        margin-top: 1.8rem;
        padding: 0.5rem 1.3rem;
        background-color: transparent;
        border-radius: 1px solid black;
        transition: all 0.3s ease-in-out;
        &:hover {
            background-color: black;
            color: white;
        }
    }
}

  @media (min-width: 768px){
    .hotel {
        margin-top: 2rem;
        &__content {
            width: 80%;
            margin: auto;
            text-align: left;
        }
        &__text-content{
            width: 40%;
            margin-left: 3rem;
            text-align: left;
            // border: 1px solid red;
        }
        &__heading {
            margin-top: 2rem;
            font-size: 1rem;
            text-align: center;

            &-content{
                display: flex;
                flex-direction: row;
                align-items: center;
                 height: 100%;       
            }
        }
        &__img {
            margin-top: 2rem;
            width: 45%;
        }
        &__para {
            font-size: 0.9rem;
             width: 100%;
             margin: auto;
            
            font-weight: 300;
            margin-top: 2rem;
        }
        &__left {
            display: none;
        }
        &__button {
            margin-top: 1.8rem;
            
            padding: 0.5rem 1.3rem;
            background-color: transparent;
            border-radius: 1px solid black;
            transition: all 0.3s ease-in-out;
            &:hover {
                background-color: black;
                color: white;
            }
        }
        
    }
    
  }
.style-component {
    margin: auto;
    margin-top: 3rem;
    width: 95%;
    height: 9rem;
    
    &-img {
        height: 100%;
        width: 100%;
        background-color: black;
        background: url('https://images.unsplash.com/photo-1571003123894-1f0594d2b5d9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=749&q=80') center center/cover;
    }
    &-text {
        font-family: "blackChancery", sans-serif;

        background-color: rgb(219, 219, 219);
        background-image: linear-gradient(rgb(206, 206, 206),white);
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);


        width: 85%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        text-align: center;
        height: 4rem;
        border-radius: 3px;
        position: relative;
        top: -45px;
    }

}


@media (min-width: 768px){
    .style-component {
        margin-top: 7rem;
        width: 80%;

        &-text {
            width: 80%;  
        }
    }  
}

.rgallery {
    margin-top:4rem;
    &__content {
        width: 88%;
        margin: auto;
        text-align: center;
    }
    &__text {
        display: flex;
        justify-content: space-between;
       &-heading {
           font-size: 1.4rem;
           font-family: 'Noto Serif Display', serif;
       }
    }
    &__grid {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(2,0.5fr);
        // justify-content: center;
        align-items: center;
        overflow-x: scroll;
        // justify-content: center;
        grid-gap: 1rem;

        grid-auto-flow: column;
        &-item {
            height: 100%;
            width: 100%;
            &-img1 {
                width: 200px;
                height: 230px;
                background: url('https://images.unsplash.com/photo-1466978913421-dad2ebd01d17?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80') center center/cover;
            }
            &-img2 {
                width: 200px;
                height: 230px;
                background: url('https://images.unsplash.com/photo-1555396273-367ea4eb4db5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80') center center/cover;
            }
            &-img3 {
                width: 200px;
                height: 230px;
                background: url('https://images.unsplash.com/photo-1552566626-52f8b828add9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80') center center/cover;
            }
            &-img4 {
                width: 200px;
                height: 230px;
                background: url('https://images.unsplash.com/photo-1590846406792-0adc7f938f1d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=385&q=80') center center/cover;
            }
            &-img5 {
                width: 200px;
                height: 230px;
                background: url('https://images.unsplash.com/photo-1536305030588-45dc07a2a372?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aW5kaWFuJTIwcmVzdGF1cmFudHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60') center center/cover;
            }
            &-img6 {
                width: 200px;
                height: 230px;
                background: url('https://images.unsplash.com/photo-1591088398332-8a7791972843?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80') center center/cover;
            }
            &-img7 {
                width: 200px;
                height: 230px;
                background: url('https://images.unsplash.com/photo-1618220924273-338d82d6b886?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80') center center/cover;
            }
            &-img8 {
                width: 200px;
                height: 230px;
                background: url('https://images.unsplash.com/photo-1578683010236-d716f9a3f461?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80') center center/cover;
            }
            &-img9 {
                width: 200px;
                height: 230px;
                background: url('https://images.unsplash.com/photo-1595526051245-4506e0005bd0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80') center center/cover;
            }
            &-img10 {
                width: 200px;
                height: 230px;
                background: url('https://images.unsplash.com/photo-1598928334118-f86743750cd8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80') center center/cover;
            }
            &-img11 {
                width: 200px;
                height: 230px;
                background: url('https://images.unsplash.com/photo-1596357395104-ba989e72b5ec?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80') center center/cover;
            }
            &-img12 {
                width: 200px;
                height: 230px;
                background: url('https://images.unsplash.com/photo-1540497077202-7c8a3999166f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80') center center/cover;
            }
            &-img13 {
                width: 200px;
                height: 230px;
                background: url('https://images.unsplash.com/photo-1623874106686-5be2b325c8f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80') center center/cover;
            }
            &-img14 {
                width: 200px;
                height: 230px;
                background: url('https://images.unsplash.com/photo-1578874691223-64558a3ca096?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80') center center/cover;
            }
            &-img15 {
                width: 200px;
                height: 230px;
                background: url('https://images.unsplash.com/photo-1542766788-a2f588f447ee?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80') center center/cover;
            }
            &-img16 {
                width: 200px;
                height: 230px;
                background: url('https://media.istockphoto.com/photos/dj-mixing-outdoor-at-beach-party-festival-with-crowd-of-people-in-picture-id1141427484?b=1&k=20&m=1141427484&s=170667a&w=0&h=RYBqajbN0GebJoADu9QGkVg2Y6fhtavweKVmyJgJ8IM=') center center/cover;
            }
            &-img17 {
                width: 200px;
                height: 230px;
                background: url('https://media.istockphoto.com/photos/birthday-celebratory-toast-with-string-lights-and-champagne-picture-id1298329918?b=1&k=20&m=1298329918&s=170667a&w=0&h=JGwktV6nxvsmKFsdW9JVoThOrVCUUJYol29AjbXy35I=') center center/cover;
            }
            &-img18 {
                width: 200px;
                height: 230px;
                background: url('https://images.unsplash.com/photo-1600759844095-82b5e23d4e00?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1021&q=80') center center/cover;
            }
            &-img19 {
                width: 200px;
                height: 230px;
                background: url('https://images.unsplash.com/photo-1566737236500-c8ac43014a67?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE0fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60') center center/cover;
            }
            &-img20 {
                width: 200px;
                height: 230px;
                background: url('https://images.unsplash.com/photo-1581245869344-f9915e401773?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE1fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60') center center/cover;
            }
        }

    }
}

 @media (min-width: 768px){
    .rgallery {
        margin-top:7rem;
        &__content {
            width: 80%;  
        }
        &__grid {
            margin-top: 2rem;
            display: grid;
            grid-template-columns: repeat(2,0.5fr);
            justify-content: center;
            align-items: center;
            overflow-x: scroll;
            justify-content: center;
            grid-gap: 1rem;
    
            grid-auto-flow: column;
            &-item {
                &-img1 {
                    width: 300px;
                    height: 344px;
                } &-img2 {
                    width: 300px;
                    height: 344px;
                } &-img3 {
                    width: 300px;
                    height: 344px;
                } &-img4 {
                    width: 300px;
                    height: 344px;
                } &-img5 {
                    width: 300px;
                    height: 344px;
                } &-img6 {
                    width: 300px;
                    height: 344px;
                } &-img7 {
                    width: 300px;
                    height: 344px;
                } &-img8 {
                    width: 300px;
                    height: 344px;
                } &-img9 {
                    width: 300px;
                    height: 344px;
                } &-img10 {
                    width: 300px;
                    height: 344px;
                } &-img11 {
                    width: 300px;
                    height: 344px;
                } &-img12 {
                    width: 300px;
                    height: 344px;
                } &-img13 {
                    width: 300px;
                    height: 344px;
                } &-img14 {
                    width: 300px;
                    height: 344px;
                } &-img15 {
                    width: 300px;
                    height: 344px;
                } &-img16 {
                    width: 300px;
                    height: 344px;
                } &-img17 {
                    width: 300px;
                    height: 344px;
                }
                &-img18 {
                    width: 300px;
                    height: 344px;
                }
                 &-img19 {
                    width: 300px;
                    height: 344px;
                }
                 &-img20 {
                    width: 300px;
                    height: 344px;
                } 

                
            }
    
        }
    }
 }

.secondary__gallery {
    margin-top: 4rem;
}