.story {
    &__container {
        width: 85%;
        margin: auto;
    }
    &__manager {
        margin-top: 6rem;
        margin-bottom: 6rem;
    }
    &__message {
        font-family: 'didot' sans-serif;
        margin-top: 2rem;
        .content {
            text-align: center;
        }
        &-heading {
            font-family: 'Noto Serif Display', serif;
            font-weight: 500;
     
            font-size: 1.4rem;
        }
        &-img-cont {
            display: none;
        }
        &-img {
            margin-top: 2.3rem;
            img {
            border-radius: 2px;
                width: 100%;
            }
        }
        &-text {
    
            font-size: 0.8rem;
            margin-top: 1.4rem;
            font-weight: 300;
        }
        &-name {
            font-size: 0.9rem;
 
            font-family: 'Noto Serif Display', serif;
            margin-top: 0.9rem;
        }
    }

}

.core {
    margin-top: 4rem;
    padding: 2rem 0;
    background-color: rgb(247, 247, 247);
  
        background-image: linear-gradient(rgb(247, 247, 247),rgb(247, 247, 247),white);
  
    &__manage {
        background-image: linear-gradient(white,rgb(247, 247, 247),rgb(247, 247, 247));
    }
    &__content {
        width: 87%;
        margin: auto;
        text-align: center;
    }
    &__heading {
        font-size: 1.6rem;
        font-family: 'Noto Serif Display', serif;
        font-weight: 500;
    }
    &__para {
        margin-top: 1.7rem;
        font-size: 0.8rem;
        font-weight: 300;
    }
    &__members {
        display: grid;
        grid-template-columns: repeat(2,0.5fr);
        margin-top: 1rem;
        justify-content: center;
        
        &-item {
            margin-top: 2rem;
            &-img {
                width: 50%;
                border-radius: 50%;
                /* offset-x | offset-y | blur-radius | spread-radius | color */
                box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
            }
            &-name {
                font-size: 0.9rem;
                margin-top: 0.8rem;
            }
            &-desg {
                font-size: 0.7rem;
                margin-top: 0.3rem;
            }
        }
    }
    
}

.tagline {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    &__content {
        font-size: 1.3rem;
    font-family: "blackChancery", sans-serif;
    }
    padding: 0.9rem 0;
}

@media screen and (min-width : 768px){
    .story {
        &__message {
            display: flex;
            flex-direction: row;
            height: 100%;
            align-items: center;
            &-img-cont {
                display: block;
                img {
                    width: 90%;
                    border-radius: 2px;
                }
            }
            &-text {
                width: 75%;
            }
            .content {
                display: flex;
                flex-direction: column;
                text-align: left;

            }
            &-img {
                display: none;
            }
        }
    }
    
}

@media screen and (min-width : 768px){
    .core {
        &__content {
            width: 75%;
            margin: auto;
            text-align: center;
        }
        &__heading {
            font-size: 1.9rem;
            font-family: 'Noto Serif Display', serif;
            font-weight: 500;
        }
        &__para {
            margin: auto;

            margin-top: 2.5rem;
            font-size: 0.8rem;
            font-weight: 300;
            width: 70%;
        }
        &__members {
            display: grid;
            grid-template-columns: repeat(3,0.5fr);
            align-items: center;
            margin-top: 4rem;
            justify-content: center;
            
            &-item {
                margin-top: 2rem;
                &-img {
                    width: 45%;
                    border-radius: 50%;
                    /* offset-x | offset-y | blur-radius | spread-radius | color */
                    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
                }
                &-name {
                    font-size: 0.9rem;
                    margin-top: 0.8rem;
                }
                &-desg {
                    font-size: 0.7rem;
                    margin-top: 0.3rem;
                }
            }
        }
        
    }
    
    .tagline {
        margin-top: 3rem;
        display: flex;
        justify-content: center;
        background-color: black;
        color: white;
        &__content {
            font-size: 1.3rem;
        font-family: "blackChancery", sans-serif;
        }
        padding: 0.9rem 0;
    }
    
}